<div id="header" th:fragment="layout-header">
<link rel="stylesheet" type="text/css" href="/css/box24.css">
  <body>
    <!-- Header Start -->
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <h1 class="brand">SM</h1>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a href="/toukou">トップ</a></li>
            <li class="nav__item"><a href="/foro">フォロー覧</a></li>
            <li class="nav__item"><a href="/profile">プロフィール</a></li>
            <li class="nav__item"><a href="/login">ログアウト</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header End -->
 </div></div>